* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.website_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(229deg 24% 10%);
}

.header_container {}

.headerInside_content {
  display: flex;
}

.img-content img{
  border-radius: 50%;
  width:50px;
  height:50px;
}

.header_nameFixed {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.header_nameChanged{
  color: #3F51B5;
  font-size: 32px;
  font-weight: 700;
}